.navbar-collapse {
    background-color: #f9f9f9;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em ;
}

.navbar {
    z-index: 4;
    height: auto;
}

.navbar-toggler:focus, .navbar-brand:active, .navbar-brand-icon:focus {
    background-color: #f1f1f1;
    outline: none;
    box-shadow: none;
}

.navbar-brand {
    color: white;
    font-size: 1.75em;
}

.image-advertise {
    z-index: -1;
    color: white;
    text-align: center;
    padding: 4em 1em 2em 1em;
    width: 100%;
    height: max-content;
    background-image: url('OIG2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.699)
}

.image-advertise-img {
    width: 100%;
    height: 100%;
}

.navbar-logo {
    height: 2.3em;
    width: 1.9em;
}

.nav-link {
    font-size: 1.05em;
}

.discord-btn {
    font-size: 2em;
    border-radius: 0.5em;
    font-weight: 400;
}

.about-h1, .about p{
    text-align: center;
    font-weight: 600;
}

footer {text-align: center;}